*{margin: 0; padding: 0;}
.container{
  display: flex;
  width: auto;
  &_userPanel{
    padding: 1rem;
    background-color:darkblue;
    width: 25%;
  }
  &_imageContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    &--userImage{
      height: 60%;
      width: 60%;
    }
  }
}
.contentProfile{
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 75%;
  &_userProfileTable{
    height: 60vh;
    width: 70%;
  }
}
.userProfileButton{
  background-color: rgba(22, 22, 219, 0);
  border: 0px;
  color: white;
  display: block;
  height: auto;
  margin: 0.5rem;
  padding: 0.5rem;
  width: auto;
  font-size: 1.4rem;
}