*{margin: 0; padding: 0;}
.container{
  display: flex;
  width: auto;
  &_userPanel{
    padding: 2rem;
    background-color:darkblue;
    width: 20%;
  }
  &_imageContainer{
    height: 200px;
    width: 200px;
    &--userImage{
      height: 100%;
      width: 100%;
    }
  }
}
.contentProfile{
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 80%;
  &_userProfileTable{
    height: 60vh;
    width: 70%;
  }
}
button{
  background-color: blue;
  border-radius: 1rem;
  color: white;
  display: block;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  width: auto;
}